<div class="centerCards">
    <div class="blogCard">
    <a href="/blog/{{id}}"><p class="cardQuestion">{{post.title}}</p></a> 
        <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </div>
    <div class="cardAnswer">{{post.body}}</div>

    {{#if post.Comments}}
    <div class="blogCard"><p class="cardQuestion"></p></div>
    <div class="log">
        {{#each post.Comments}}
        <p>{{body}}</p>
        <p> &mdash; {{user.username}}, {{format_date createdAt}}</p>
        {{/each}}
    </div>
    {{/if}} 

    <div class="centerCards">
        <div class="blogCard"><p class="cardQuestion"></p></div>
        <form class="log" id="comment-form">
            <input type="hidden" name="blog-id" value="{{blog.id}}" />
            <label class="loginInput">Comment</label>
            <input class="commentInput" type="text" name="passwordField" id="comment">
            <button class="loginButton" type="submit" id="commentButton">Submit</button>
        </form>
    </div>
</div>