<div class="centerCards">
    {{#each posts}}
    <div class="blogCard">
       <a href="/blog/{{id}}"><p class="cardQuestion">{{title}}</p></a> 
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>
    <div class="cardAnswer">{{body}}</div>
    {{/each}}
</div>